<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planet Bubble</title>

    <!-- CSS begin -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS end -->

</head>
<body>
<h1>{{ word }}</h1>

<!-- JavaScript begin -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- JavaScript end -->
</body>
</html>